<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>VOSTOK_BASE_URL</key>
  <string>$(VOSTOK_BASE_URL)</string>
  <key>VOSTOK_SOCKET_URL</key>
  <string>$(VOSTOK_SOCKET_URL)</string>
  <key>VOSTOK_INSTANCE_LABEL</key>
  <string>$(VOSTOK_INSTANCE_LABEL)</string>
</dict>
</plist>
