PHX_SERVER=true
PHX_HOST=localhost
PORT=4000
DATABASE_URL=ecto://postgres:postgres@localhost/vostok_dev
SECRET_KEY_BASE=replace-me
POOL_SIZE=10
VOSTOK_REGISTRATION_MODE=invite_only
VOSTOK_FEDERATION_PORT=5555

